html {
    overflow-y: scroll;
}

body, a { 
    color: black; 
}

a:hover { 
    border-bottom: 2px solid; 
}

/* Typography */

@font-face {
  font-family: 'NZT';
  src: url('fonts/nzt-webfont.eot'); /* IE9 Compat Modes */
    src: url('fonts/nzt-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/nzt-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/nzt-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('fonts/nzt-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('fonts/nzt-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-style: normal; }

body { 
	font-family: 'NZT', Arial, sans-serif; 
	background-color: #f2f2f2;
    font-size: 14px;
    font-style: normal;
    line-height: 1.4em;
}

h1 { 
    font-size: 20px; 
    font-weight: normal; 
}

h1 strong { 
    font-weight: normal; 
    text-transform: none; 
    display: block; 
    letter-spacing: 0px; 
}

h2 { 
    font-size: 26px; 
    font-weight: normal; 
    margin: 0px;
    line-height: 1em;
}


a { 
    text-decoration: none; 
}

.description a{
    border-bottom: solid 1px;
}

.description a:hover {
    border-bottom: solid 2px;
}

.description ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


#mti_wfs_colophon {display: none; !important}
#mti_wfs_colophon img {display: none; !important}

/* Layout */

body { 
    text-align: center; 
}

#page-container { 
    margin: 0px auto;
}

#content {
    margin: 130px 0px 0 32px; 
    text-align: left;
}


hr { 
    display: block; 
    clear: both; 
    margin: 0px 0px 45px; 
    padding: 0px; 
    height: 0px; 
    overflow: hidden; 
    visibility: hidden; 
}

/* Navigation */

#home {
    width:200px; 
    position:fixed; 
    top:35px; 
    left:40px; 
    z-index:9996; 
    font-size: 26px; 
    text-align: left;
    line-height: 1em;
}

#navigation { 
    position:fixed; 
    top:35px;
    right:40px; 
    z-index:9996;
}

#navigation .menu-link {
    float: left; 
    padding: 0px 0px 0px 30px; 
}

#navigation, ul.projects { 
    list-style: none; 
    padding: 0px; 
    margin: 0px; 
}

#navigation li, ul.projects li { 
    clear: both; 
}

#navigation ol { 
    display: none; 
    margin: 0px; 
    padding: 4px 0px 4px 25px; 
}

#everything-link {
    position: fixed;
    bottom: 35px;
    right: 32px;
    z-index:9996;
    line-height: 2em;
    border: solid 2px transparent;
    padding: 6px 8px;
}

#everything-link:hover {
    border: solid 2px;
}

#everything-link a:hover {
    border: none;
}


/* Project-list-navigation */
#projects-list-container {
	text-align: center;
	width: 100%;
    margin-right: 32px;
}

#projects-list-menu{
    background-color: #ffff00;
    position: fixed;
    left: 50%;
    top: 100px;
    bottom: 10%;
    width: 310px;
    margin-left: -205px;
    padding: 20px 50px;
    z-index: 9999;
    -moz-box-shadow: 2px 2px 12px rgba(0,0,0,0.8);
    -webkit-box-shadow: 2px 2px 12px rgba(0,0,0,0.8);
    box-shadow: 2px 2px 12px rgba(0,0,0,0.8);
    transition: background-color 0.8s;
    -moz-transition: background-color 0.8s; /* Firefox 4 */
    -webkit-transition: background-color 0.8s; /* Safari and Chrome */
    -o-transition: background-color 0.8s; /* Opera */
}

.show{
    display: block;
}

.hide{
    display: none;
}

#close-link{
    display: inline-block;
    font-size: .9em;
    text-align: right;
    margin: -5px -310px 0px 0px;
}

#close-link:hover{
    cursor: pointer;
}

#projects-list{
    width: 310px;
    padding: 0 50px;
    margin: 0 -50px;
    height: 95%;
}

#projects-link a:hover{
    cursor: pointer;
}

ul li { 
    margin: 0px 0px 3px; 
}

ul.projects li { 
    text-align: left; 
    padding: 0px 0px 16px; 
    list-style: none; 
}


/* Index */

#projects-container {
    width: 103%; 
    text-align: left;
    display: inline-block;
    opacity:0.0;
}

.gutter-fix {
    overflow-x: hidden;
}

.project-teaser {
    margin-right: 4%;
    margin-bottom: 90px; 
    float: left;
    width: 29%;
    max-width: 600px;
}

img.project-thumb { 
    display: inline; 
    width: 100%;
}

img.project-thumb-small { 
    width: 100%;
}

.project-title {
    display: block; 
    margin-top: 10px;
    font-size: 20px;
}

.project-title .text a:hover {
    border-bottom: none;
}

.thumb-wrapper a:hover {
    border: none;
}

.thumb-wrapper {
	display: block; 
	padding: 5px 5px 0px; 
	-moz-box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    -webkit-box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    transition: background-color 0.8s;
    -moz-transition: background-color 0.8s; /* Firefox 4 */
    -webkit-transition: background-color 0.8s; /* Safari and Chrome */
    -o-transition: background-color 0.8s; /* Opera */
    background-color:#ffffff;
}

.thumb-wrapper:hover {

}

.thumb-wrapper img:hover {
    transition: opacity 0.2s;
    -moz-transition: opacity 0.2s; /* Firefox 4 */
    -webkit-transition: opacity 0.2s; /* Safari and Chrome */
    -o-transition: opacity 0.2s; /* Opera */
    opacity:1.0;
}
.thumb-wrapper img{
    transition: opacity 0.8s;
    -moz-transition: opacity 0.8s; /* Firefox 4 */
    -webkit-transition: opacity 0.8s; /* Safari and Chrome */
    -o-transition: opacity 0.8s; /* Opera */
    opacity:1.0;
}
.thumb-wrapper:active {
    margin: 2px 0px -2px 0px;
    z-index: 777;
    -moz-box-shadow: 1px 1px 6px rgba(0,0,0,0.1);
    -webkit-box-shadow: 1px 1px 6px rgba(0,0,0,0.1);
    box-shadow: 1px 1px 6px rgba(0,0,0,0.1);
}

.categories {
    margin-top: 4px;
    opacity: 0;
    transition: opacity 0.2s;
    -moz-transition: opacity 0.2s; /* Firefox 4 */
    -webkit-transition: opacity 0.2s; /* Safari and Chrome */
    -o-transition: opacity 0.2s; /* Opera */
}



/* Project Page */

#pager{
    display: none;
    position: fixed;
    top:35px;
    width: 250px;
    z-index: 9996;
}

#pager h2{
    float: left;
    margin-right: 40px;
}

.pager-button a:hover{
    border: none;
    font-style: italic;
}

#pager-bottom {
    text-align: left;
    width: 900px;
    display: none;
}



#project-page-container {
    clear: both;
    margin-bottom: 80px;
    text-align: center;
    overflow: hidden;
    padding: 1px;
}

#project-wrapper {
    width: 1260px;
    padding-right: 100px;
    margin: auto;
}

#project-page-container .description { 
    width: 300px;
    margin: 0 60px 0 0;
    text-align: left;
    float: left;
}

#project-page-container .description h2 { 
    padding: 0px 0px 15px; 
}


#media { 
    width: 900px;
    display: inline-block;
    text-align: left;
}


.media { 
    margin: 0px 0px 30px; 
}

.image { 
    margin: 0px 0px 30px; 
}

.image img { 
    -moz-box-shadow: 3px 3px 20px rgba(0,0,0,0.1);
    -webkit-box-shadow: 3px 3px 20px rgba(0,0,0,0.1);
    box-shadow: 3px 3px 20px rgba(0,0,0,0.1);
}

#media img {
    width: 900px;
    height: auto;
}

#media .caption {
    font-size: .9em;
}

.video-wrapper{
    margin: 0px 0px 30px;
}

/* Images loading*/



/* Everything Page */


#image-container{
    margin: auto;
    text-align: center;
}

#image-container a:hover {
    border-bottom: none;
}

.image-teaser {
    margin: 0px 40px 40px 0px; 
    display: inline-block;
    width: 200px;
    height: 133px;
    overflow: hidden;
    text-align: center;
    vertical-align: top;
    position: relative;
}

.image-teaser img{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
}

img.lazy {

}

img.lazysmall {

}



/* Info/News Page */

#info-page-container {
    width: 600px;
    margin-bottom: 80px;
}

ul.news li {
    margin: 0px 0px 12px; 
}




p#project-count, p#gallery-count { margin: 2px 20px 0px 0px; }
p#gallery-count, div#gallery-navigation { display: none; }
p#gallery-count span { margin: -1px 0px 0px; display: block; }
div#gallery-navigation p { margin: 0px 0px 1px; }

div#image-wrapper { overflow: hidden; width: 900px; }
div#image-wrapper div#image-holder { width: 100000000px; }
div#image-wrapper div#image-holder { float: left; width: 900px; }



/* Footer */

p#footer { 
    line-height: 1.4; 
}


a.atom-rss { 
    margin: 0px 0px 0px 6px; 
    padding: 1px 2px 0px; 
    font-size: 0.93em; 
    letter-spacing: 0.08em; 
    background: #ddd; 
}


/* Responsive */

@media only screen and (min-width: 2050px) {
    #page-container {
        position: relative;
        width: 2034px;
    }

    #home {
        position: absolute;
        top: -95px;
        left: 32px;
    }

    #navigation {
        position: absolute;
        top: -95px;
        right: 32px;
    }

}

@media only screen and (max-width: 1340px) {

    #projects-container {
        width: 105%;
    }

    .project-teaser {
        width: 45%;
        margin-right: 5%;
    }

    #project-wrapper {
        width: 100%;
    }

    #project-page-container .description { 
        width: 900px;
        margin: auto;
        padding-bottom: 10px;
        float: none;
    }

    #content {margin-right: 32px;}

    #pager-bottom {
        display: inline-block;;
    }

    #pager {
        display: none !important;
    }

}


@media only screen and (max-width: 980px) {

    #media, #media img {
        width: 100%;
        height: auto;
    }

    #project-page-container .description { 
        width: 100%;
    }

    .video-wrapper{
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
    }

    .video-wrapper iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }


}

@media only screen and (max-width: 680px) {

    #projects-container {
        width: 100%; 
    }

    .project-teaser {
        width: 100%;
        margin: 0px 0px 90px;
    }
}

@media only screen and (max-width: 600px) {


    #navigation {
        top: 70px; 
        left: 40px; 
        width: 320px;
    }

    #navigation .menu-link {
        padding: 0px 30px 0px 0px;
    }

    #projects-list-menu{
        margin-top: 0px;
    }

     #info-page-container { 
        width: 100%;
    }

}


@media only screen and (max-width: 340px) {

    #navigation .menu-link {
        padding: 0px 20px 0px 0px;
    }

}



/* Javascript-enabled styles */
body.js-enabled p#gallery-count, body.js-enabled div#gallery-navigation { display: block; }
body.js-enabled p#project-count { display: none; }
body.js-enabled div#media div.image { display: none; }
body.js-enabled div#media div.image:first-child { display: block; }