<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>@title</title>
    <link rel="alternate" type="application/atom+xml" href="@root_path/?/feed/">
    :head
    <link rel="stylesheet" href="@root_path/public/docs/css/everything.css">
    <link rel="stylesheet" href="@root_path/public/docs/css/preloader.css">
  </head>
  <body>
    <div id="page-container">
      :navigation
    <div id="content">
        <div id="image-container">
            foreach $root do

              :every-image

            endforeach
          </div>
        </div>
      </div>
    </div>
    :scripts
    <script type="text/javascript" src="@root_path/public/docs/js/jquery.magnific-popup.js"></script> 
    <script>

       $(document).ready(function() {


/*            $(window).load(function(){
                if ($("img.lazy").css("display") == "block" ) {
                  $("img.lazysmall").delay(1000).fadeOut(300, function(){ $(this).remove(); });
                }
            });*/

              ///Magnific Popup///   
 
              $('#image-container').magnificPopup({ 
                delegate: 'a',
                type: 'image',
                preloader: true,
                gallery:{
                  enabled:true,
                  preload: [5,5],
                },
                image: {
                  titleSrc: function(item) {
                    return  '<a href="'+item.el.attr('data-source')+'">'+item.el.attr('title')+'</a>';
                  }
                },

              });
            

        });
      </script>
  </body>
</html>